.modal{
  box-sizing: border-box;
  background-color: rgb(75, 125, 169);
  width: 1000px;
  text-align: center;
  padding: 100px;
  
  margin: auto;
}

.list{
    box-sizing: border-box;
    background-color: rgba(191, 202, 211, 1);
    width: 500px;
    text-align: left;
    padding: 50px;
    
    margin: auto;
    
 
}
.listmini{
    box-sizing: border-box;
    background-color: rgba(191, 202, 211, 1);
    width: 300px;
    text-align: left;
    padding: 20px;
    
    margin: auto;
    
 
}