.modal{
  box-sizing: border-box;
  background-color: rgba(52, 89, 122, 0.479);
  width: 1000px;
  text-align: center;
  padding: 100px;
  
  margin: auto;
}

.list{
    box-sizing: border-box;
    background-color: rgba(191, 202, 211, 0.479);
    width: 500px;
    text-align: left;
    padding: 50px;
    
    margin: auto;
    
 
}
.listmini{
    box-sizing: border-box;
    background-color: rgba(191, 202, 211, 0.479);
    width: 300px;
    text-align: left;
    padding: 20px;
    
    margin: auto;
    
 
}